.container {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 50px;
}
.list{
  display: flex;
  gap: 30px;
}
.list-item{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}